@charset "UTF-8";

@font-face {
	font-family: 'MyFont';
	src: url(../myfont/font14.ttf);
}


body{
  font-family: MyFont,'游明朝','Yu Mincho','YuMincho','Hiragino Mincho Pro',serif;
  background-image: url("img/bg.img");
  background-image: url(../img/bg49.jpg)!important;
  background-attachment: fixed!important;/*背景固定*/
}

a{
  text-decoration: none;
  color: #333;
}
.logo{
  text-align: center;
  margin-top: 10px;
}
.logo img{
  display: inline-block;
  margin-bottom: 5px;
  width: 10%;
  margin-top: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-bottom: 60px!important;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 0))!important;
}

.header ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 90%;
  font-size: 20px;
}

.header ul li {
  width: 100%;
  text-align: center;
  border-right: 1px solid #ddd;
  margin-top: 10px;
}

.header ul li:last-child {
  border-right: none; /* 最後の要素の右側の境界線を除去 */
}

h1 {
  font-size: 40px!important;
  margin-top: 150px!important;
  text-align: center; 
}

.information {
  display: block;
  max-width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

.range1 {
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
}

.range2 {
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 50px 50px rgb(255, 255, 255, .70);
  margin-bottom: 50px;
}

.shop_img {
  width: 50%;
}

.range1 iframe {
  width: 50%;
}

.class1 {
  width: 50%;
  margin: 20px;
}

.main_information {
  font-size: 20px;
}

table td:first-child {
  width: 30%;
  text-align: left;
}

table td:last-child {
  width: 70%;
  text-align: left;
}

.attention {
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
}
.class2 {
  width: 50%;
  height: auto;
  font-size: 20px;
  text-align: center;
  margin: auto;
}


.pdffile {
  color: #e04545;
}

.please {
  margin-top: 20px;
  font-size: 15px;
}


.footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  height: auto;
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer .logo2 img {
  width: 10%;
  margin-top: 20px;
}


.logo2,
.name_uomaru,
.address,
.tel,
.cr {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #FFF;
}

.footer .tel a[href^="tel:"]{
  pointer-events: none;
  color: white;
}
















@media screen and (max-width:639px){
  @font-face {
    font-family: 'MyFont';
    src: url(../myfont/font14.ttf);
  }
  
  
  body{
    font-family: MyFont,'游明朝','Yu Mincho','YuMincho','Hiragino Mincho Pro',serif;
    background-image: url("img/bg.img");
    background-image: url(../img/bg49.jpg)!important;
    background-attachment: fixed!important;/*背景固定*/
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  .logo {
    text-align: center;
    margin-top: 10px;
  }
  
  .logo img {
    display: inline-block;
    margin-bottom: 5px;
    width: 20%;
    margin-top: 10px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;/*////////////////////*/
  
  }
  
  .header ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap; /* 画面幅に合わせて折り返す */
  }
  
  .header ul li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd; /* ボーダーを下に設定 */
    margin-top: 10px;
    padding-bottom: 10px; /* 下部の余白を追加 */
    border-right: none;/*要素の右側の境界線を除去*/
  }
  
  .header ul li:last-child {
    border-bottom: none;
  }
  
  h1 {
    font-size: 28px!important;
    margin-top: 300px!important;
    text-align: center; 
  }
  
  .information {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 30px;
  }
  
  .range1 {
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
  }
  
  .range2 {
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 50px 50px rgb(255, 255, 255, .70);
    margin-bottom: 50px;
  }
  
  .shop_img {
    width: 50%;
  }
  
  .range1 iframe {
    width: 50%;
  }
  
  .class1 {
    width: 50%;
    margin: 20px;
  }
  
  .main_information {
    font-size: 10px;
  }
  
  table td:first-child {
    width: 30%;
    text-align: left;
  }
  
  table td:last-child {
    width: 70%;
    text-align: left;
  }
  
  .attention {
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
  }

  .class2 {
    width: 50%;
    height: auto;
    font-size: 10px;
    text-align: center;
    margin: auto;
  }


  .pdffile {
    color: #e04545;
  }

  .please {
    margin-top: 20px;
    font-size: 10px;
  }
  
  
  .footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  height: auto;
  grid-row-start: 2;
    display: block;
  font-size: 20px;
}

.footer .logo2 img {
  width: 10%;
  margin-top: 20px;
}


.logo2,
.name_uomaru,
.address,
.tel,
.cr {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #FFF;
}

.footer .tel a[href^="tel:"]{
  pointer-events: none;
  color: white;
}
}












@media only screen and (min-width:640px) and (max-width:1023px) {
  @font-face {
    font-family: 'MyFont';
    src: url(../myfont/font14.ttf);
  }
  
  
  body{
    font-family: MyFont,'游明朝','Yu Mincho','YuMincho','Hiragino Mincho Pro',serif;
    background-image: url("img/bg.img");
    background-image: url(../img/bg49.jpg)!important;
    background-attachment: fixed!important;/*背景固定*/
  }
  
  a{
    text-decoration: none;
    color: #333;
  }
  .logo{
    text-align: center;
    margin-top: 10px;
  }
  .logo img{
    display: inline-block;
    margin-bottom: 5px;
    width: 10%;
    margin-top: 10px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }
  
  .header ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 90%;
    font-size: 20px;
  }
  
  .header ul li {
    width: 100%;
    text-align: center;
    border-right: 1px solid #ddd;
    margin-top: 10px;
  }
  
  .header ul li:last-child {
    border-right: none; /* 最後の要素の右側の境界線を除去 */
  }
  
  h1 {
    font-size: 40px!important;
    margin-top: 150px!important;
    text-align: center; 
  }
  
  .information {
    display: block;
    max-width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
  }
  
  .range1 {
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
  }
  
  .range2 {
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 50px 50px rgb(255, 255, 255, .70);
    margin-bottom: 50px;
  }
  
  .shop_img {
    width: 50%;
  }
  
  .range1 iframe {
    width: 50%;
  }
  
  .class1 {
    width: 50%;
    margin: 20px;
  }
  
  .main_information {
    font-size: 12px;
  }
  
  table td:first-child {
    width: 30%;
    text-align: left;
  }
  
  table td:last-child {
    width: 70%;
    text-align: left;
  }
  
  .attention {
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
  }
  .class2 {
    width: 50%;
    height: auto;
    font-size: 15px;
    text-align: center;
    margin: auto;
  }


  .pdffile {
    color: #e04545;
  }

  .please {
    margin-top: 20px;
    font-size: 10px;
  }
  
  
  .footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  height: auto;
  grid-row-start: 2;
    padding-bottom: 30px;
  font-size: 20px;
}

.footer .logo2 img {
  width: 10%;
  margin-top: 20px;
}


.logo2,
.name_uomaru,
.address,
.tel,
.cr {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #FFF;
}

.footer .tel a[href^="tel:"]{
  pointer-events: none;
  color: white;
}
}